<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <h1 class="">{{titulo}}</h1>
            </div>
        </div>
        {{{body}}}
    </div>
</body>

</html>