<div class="row">
    <div class="col col-12">
        <h2>Bienvenid@ {{usuario}}!</h2>
    </div>
</div>

<div class="row">
    <div class="col col-12">
        <p><a class="form-control btn btn-danger" type="button" href="/admin/login/logout">Cerrar sesión</a></p>
    </div>
</div>